<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Vue Framework -->
    <!-- production version, optimized for size and speed -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- jQuery -->
    <!--<script src="jQuery-3.3.1/jquery-3.3.1.min.js"></script>-->

    <!-- Bootstrap -->
    <link href="bootstrap-4.1.0-dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>



<div id="app">

    <navbar v-bind:display="display"></navbar>

    <div style="width: 100%">

        <div style="display: inline-block;width: 80%;float: left;">

            <div style="position:relative;top: 0px;left: 0px;">

                <storylist-title title="TDC Sprint 35"></storylist-title>

                <div style="width: 60%;display: inline-block">
                    <form class="form-inline">

                        <input type="text" class="form-control mr-sm-2" style="padding: 3px 6px;width: 15%;" placeholder="Project">
                        <input type="text" class="form-control mr-sm-2" style="padding: 3px 6px;width: 70%;" placeholder="Description">
                        <button type="submit" class="btn btn-dark" style="padding: 3px 6px;">Add</button>

                    </form>
                </div>

                <story-list v-bind:status="['toDo','inProgress','qa','done']" v-bind:detail-story-key="detailStoryKey" droptype="sprint"></story-list>
            </div>

            <div style="position: relative;top: 0px;left: 0px;">
                <storylist-title title="Backlog"></storylist-title>
                <story-list v-bind:status="['backlog']" v-bind:detail-story-key="detailStoryKey" droptype="backlog"></story-list>
            </div>

        </div>

        <div style="display: inline-block;width: 20%;float: right;">
            <story-detail v-bind:detail-story-key="detailStoryKey"></story-detail>
        </div>

    </div>

</div>

<script src="js/app.data.js"></script>

<!-- Main App Vue Instance -->
<!--<script src="js/app.js"></script>-->

<script>

    Vue.component('nav-items',{
        data: function () {
            return {
                navItems:[
                    {id:'navItem-1',item:'Backlog',active:true},
                    {id:'navItem-2',item:'ActiveSprint',active:false}
                ],
                itemStyle:{cursor:'pointer'}
            }
        },
        props:['display'],
        methods: {
            clickNavItem:function (e) {
                this.$data.navItems.forEach(function (i, k) { i.active = (e.target.id === i.id) ? true : false ; });
            }
        },
        template: '<div class="navbar-nav" v-if="display.navItems"><a v-for="item in navItems" :id="item.id" class="nav-item nav-link" v-bind:class="{active: item.active}" v-bind:style="itemStyle" v-on:click="clickNavItem">{{item.item}}</a></div>'
    })

    Vue.component('navbar', {
        data: function () {
            return {
                brand:'Vue-PlanBoard',
            }
        },
        props:['display'],
        template: '' +
       '<nav class="navbar navbar-expand-lg navbar-dark bg-dark" v-if="display.navbar">\n' +
       '    <a class="navbar-brand" href="#">{{brand}}</a>\n' +
       '    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">\n' +
       '        <nav-items v-bind:display="display"></nav-items>\n' +
       '    </div>\n' +
       '</nav>'
    })

    Vue.component('storylist-title',{
        data: function(){ return {} },
        props:['title'],
        template:'<div style="margin: 10px 20px;display:inline-block;"><span>{{title}}</span></div>'
    })

    Vue.component('story-list',{
        data: function () {
            return {
                stories:stories
            }
        },
        props:['status','detailStoryKey','droptype'],
        template:'<div style="margin: 10px 20px;padding-bottom: 20px;" v-on:drop="drop" v-on:dragover="dragover" :data-droptype="droptype">' +
        '                    <div :id="story.id" v-for="story in stories" v-if="status.indexOf(story.status) !== -1" v-on:click="clicklist(story.key,detailStoryKey)" v-on:dragstart="drag" v-on:dragend="dragend" :data-key="story.key" draggable="true" style="height:32px;border: 1px solid #DBDDE2;margin-top:-1px;font-size:14px;cursor:move;position: relative;">\n' +
        '                        <div style="padding-left: 5px;box-sizing: border-box;overflow: hidden;position: relative;white-space: nowrap">\n' +
        '                            <div style="height:22px; margin:5px 0px;line-height: 22px;">\n' +
        '                                <span style="display: inline-block;margin-left: 16px;"><img src="images/storyicon.svg" style="vertical-align: text-bottom"></span>\n' +
        '                                <span style="display: inline-block;margin-left: 16px;">{{story.description}}</span>\n' +
        '                            </div>\n' +
        '                        </div>\n' +
        '                        <div style="position: absolute;right: 0px;top: 5px;height: 22px;padding:  0px 5px 0px 20px;">\n' +
        '                            <span>{{story.id}}</span>\n' +
        '                        </div>\n' +
        '                        <div style="background-color: #cc0000;width: 2px;left: 2px;top: 2px;bottom: 2px;height:auto;position: absolute;text-indent: -9999em"></div>\n' +
        '                    </div>' +
        '</div>',
        methods:{
            clicklist:function(key,detailStoryKey){
                this.$root.$data.detailStoryKey = key;
            },
            drag:function(e){
                e.dataTransfer.setData("text", e.target.dataset.key);
                e.target.style.backgroundColor = "black";
                e.target.style.color = "white";
            },
            dragend:function(e){
                e.target.style.backgroundColor = "white";
                e.target.style.color = "black";
            },
            dragover:function(e){
                e.preventDefault();
            },
            drop:function(e){
                e.preventDefault();
                var key = e.dataTransfer.getData("text");
                for(var i=0; i<e.path.length; i++){
                    var droptype = e.path[i].dataset.droptype;
                    if(typeof droptype !== 'undefined') break;
                }
                if(droptype === 'sprint'){ stories[key].status = 'toDo';}
                else if(droptype === 'backlog'){ stories[key].status = 'backlog'; }
            }
        }
    })

    Vue.component('story-detail',{
        data: function (){
            return {
                stories:stories
            }
        },
        props:['detailStoryKey'],
        template:'<div style="padding-top: 10px" v-on:input="input">\n' +
        '                <span style=""><img src="images/storyicon.svg" style="vertical-align: text-bottom">{{stories[detailStoryKey].id}}</span>\n' +
        '                <div style="position:relative;margin-top:10px;font-size:18px;font-weight:bold;white-space: normal;padding: 5px;">{{stories[detailStoryKey].description}}' +
        '                   <textarea v-model="stories[detailStoryKey].description" style="width: 100%;height: 100%;position: absolute;top:0px;left:0px;white-space: normal;padding: 5px;border-color: #cc0000;border-radius: 5px;overflow: hidden;"></textarea>' +
        '                </div>\n' +
        '                <div style="margin-top:10px;font-size:14px;font-weight:bold;white-space: normal;">Project:&nbsp;{{stories[detailStoryKey].project}}</div>\n' +
        '                <div style="margin-top:10px;font-size:14px;font-weight:bold;white-space: normal;">Status:&nbsp;{{stories[detailStoryKey].status}}</div>\n' +
        '\n' +
        '            </div>',
        methods:{
            input:function(e){

            }
        }
    })



    var app = new Vue({
        el: '#app',
        data:{
            display:{
                navbar:true,
                navItems:true,
            },
            stories:stories,
            detailStoryKey:0
        },
        methods:{

        }

    })


</script>

</body>
</html>